/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/***********************************************************
				        DEFAULTS
***********************************************************/

html{
    font-size:16px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h1{
    font-size:2.2rem;
    font-weight:bold;
    padding:10px 0 15px;
}

h2{
    font-size:1.5rem;
    padding:40px 0 10px;
}

.container{
    width:1024px;
    margin:0 auto;
}

nav ul li{
    padding:10px;
}

.sidebarbox{
    background:rgb(128,128,128);
    border:2px solid rgb(50,50,50);
}

#content p{
    padding:10px;
}

#rainbow div{ height:30px; }
#re{ background: red; }
#or{ background: orange; }
#ye{ background: yellow; }
#gr{ background: green; }
#bl{ background: blue; }
#in{ background: indigo; }
#vi{ background: violet; }

/***********************************************************
				        Flexbox
***********************************************************/

nav ul{
	background-color: slategray;
	/* set the container to display:flex */
	display: flex;
	/* justify content */
	justify-content: space-evenly;
}

/* the div with the class bodyflex contains both the main and the aside */
.bodyflex {
	display: flex;
}

main{
	width:75%
}

aside{
	width: 25%;
	/* display flex is not inherites - so, if you want the aside to also use flexbox, you have it set to*/
	display: flex;
	flex-direction: column-reverse;
}

aside .sidebarbox{
	/* by default - flex basis is set to 'auto', which means shrink to the size of the content if we give it a number, we assign a level of importance to the items - if they all have the same number, they all have the same size importance. */
	flex-basis:0;
	/* the you have to use flex grow or flex shrink to tell the boxes how you want them to grow or shrink*/
	flex-grow: 1;

}

#fish{
	display:flex;
	/* use flex wrap to allow the flex to wrap to the next line (or as many lines as necessary)*/
}

#fish img{
	width:100%;
}

#rainbow{
	/* without any other instructions, elements with no content disappear when they are first set the display */
	display: flex;
}

#rainbow div{
	flex-basis: 0;
	flex-grow: 1;
}

#rainbow #in, #rainbow #ye {
	/* this will set these two divs to be twice the size of the other five, relative to the amount of space they have*/
	flex-grow: 6;
}